{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Experience</h1>
    <p class="lead">Placeholder for statement regarding experience / work...</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Placeholder A</h2>
        <p>
            Something about category A...
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Placeholder B</h2>
        <p>Something about category B...</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Placeholder C</h2>
        <p>Something about category C...</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
